h1{
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
}

.color-style{
    background-color: red;
}
#paragrafo1{
    font-weight: 600;
    font-style: italic;
    line-height: 3cm;
    text-decoration: line-through;
    text-align: center;
}
#body{
    font-size: 16px;
}
#item1{
    background-color: yellow;
}
#item2{
    background-color: red;
}
#item3{
    background-color: brown;
}